{% extends 'base.html.twig' %}
{% block body %}
<div class="section">
	<div class="container">
    	<div class="row">
			<div class="col-lg-9">
                <div class="row shop_container">
                    {% if not products %}
                        <p class="m-5"> Désolé il n'y a pas de produits pour cette recherche. </p>
                    {% endif %}
                    {% for  product in products %}
                        {{include('components/product.html.twig', {'product': product})}}
                    {% endfor %}
                </div>
        	</div>
          <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
            	<div class="sidebar">
                    <h5 class="heading_s1 text-center"> Filtrer </h5>
                    {{ form_start(search) }}
                	<div class="widget">
                        <h6 class="widget_title">Categories</h6>
                        {{ form_row(search.category)}}
                    </div>
                    <div class="widget">
                    <h6 class="widget_title">Prix</h6>
                        <div class="form-row">
                            <div class="col-md-6">
                                {{ form_row(search.minprice)}}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(search.maxprice)}}
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                    <h6 class="widget_title">Tags</h6>
                        {{ form_row(search.tags)}}
                    </div>
                    <button class="btn btn-fill-out btn-block"> Rechercher</button>
                    {{ form_end(search) }}
                </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}