{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Entreprise</th>
                <th>Adresse</th>
                <th>Complément</th>
                <th>Téléphone</th>
                <th>Ville</th>
                <th>Code postal</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.fullname }}</td>
                <td>{{ address.company }}</td>
                <td>{{ address.address }}</td>
                <td>{{ address.complement }}</td>
                <td>{{ address.phone }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.codePostal }}</td>
                <td>{{ address.country }}</td>
                <td>
                    
                    <a href="{{ path('app_address_edit', {'id': address.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune adresse trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_new') }}">créer une nouvelle adresse</a>
{% endblock %}
